# ================================
# OS
# ================================
.DS_Store
.AppleDouble
.LSOverride
Icon?
Thumbs.db

# ================================
# EDITORES / IDEs
# ================================
.idea/
.vscode/
*.code-workspace
*.swp
*.swo

# Visual Studio / MSVC
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.VC.opendb
ipch/

# ================================
# C / C++
# ================================
bin/
obj/
*.exe
*.o
*.a
*.so
*.out
*.depend
*.layout
*.cbp

# Version más específica (carpetas tipo /c/)
**/c/**/*.o
**/c/**/*.obj
**/c/**/*.a
**/c/**/*.lib
**/c/**/*.so
**/c/**/*.dylib
**/c/**/*.dll
**/c/**/*.exe
**/c/**/*.out
**/c/**/*.app
**/c/**/*.d

**/c/**/bin/
**/c/**/obj/
**/c/**/Debug/
**/c/**/Release/
**/c/**/build/

# ================================
# GO
# ================================
/go-build/
go.sum
*.test
/vendor/

# Ejecutables comunes
**/main
**/main.exe
**/app
**/app.exe

# Version estructurada (carpetas golang)
**/golang/**/*.test
**/golang/**/*.out
**/golang/**/coverage.out
**/golang/**/go.work
**/golang/**/go.work.sum
